
.flash.position-relative
    .p-2.position-absolute.top-0.end-0
        if messages.errors
            .alert.alert-danger.alert-dismissible.fade.m-1.d-flex(role="alert")
                for error in messages.errors
                    div= _.get(error, "error.msg", error)
                button.btn.btn-close(type='button', bs-data-dismiss='alert' aria-label="close")
        if messages.info
            .alert.alert-info.alert-dismissible.fade.m-1.d-flex(role="alert")
                for info in messages.info
                    div= _.get(info, "info.msg", info)
                button.btn.btn-close(type='button', bs-data-dismiss='alert' aria-label="close")
        if messages.warnings
            .alert.alert-warning.alert-dismissible.fade.m-1.d-flex(role="alert")
                for warning in messages.warnings
                    div= _.get(warning, "info.msg", warning)
                button.btn.btn-close(type='button', bs-data-dismiss='alert' aria-label="close")
        if messages.success
            .alert.alert-success.alert-dismissible.fade.m-1.d-flex(role="alert")
                for success in messages.success
                    div= _.get(success, "success.msg", success)
                button.btn.btn-close(type='button', bs-data-dismiss='alert' aria-label="close")

    script#flash_error(type="x-tmpl-mustache")
        .alert.alert-danger.alert-dismissible.fade.m-1
            button.close(type='button' data-dismiss='alert')
                span.fa.fa-times-circle-o
            | {{#errors}}
            p {{{msg}}}
            | {{/errors}}
    script#flash_success(type="x-tmpl-mustache")
        .alert.alert-success.alert-dismissible.fade.m-1
            button.close(type='button' data-dismiss='alert')
                span.fa.fa-times-circle-o
            | {{#success}}
            p {{{msg}}}
            | {{/success}}
    script#flash_warning(type="x-tmpl-mustache")
        .alert.alert-warning.alert-dismissible.fade.m-1
            button.close(type='button' data-dismiss='alert')
                span.fa.fa-times-circle-o
            | {{#warnings}}
            p {{{msg}}}
            | {{/warnings}}
    script#flash_info(type="x-tmpl-mustache")
        .alert.alert-info.alert-dismissible.fade.m-1
            button.close(type='button' data-dismiss='alert')
                span.fa.fa-times-circle-o
            | {{#info}}
            p {{{msg}}}
            | {{/info}}

    script.
        jQuery(document).ready($=>{
            $('.alert.fade:not(.show)').addClass('show');
            $('.alert:not(.alert-danger):not(.alert-warning)').flash_duration();
            $('.alert-warning').flash_duration(10000);
            $('.alert-danger').flash_duration(20000);
        })

    