if user
  ul.nav.navbar.navbar-expand-lg
    .navbar-header
      button.navbar-toggler.mr-2(type='button', data-bs-toggle='collapse', data-bs-target='.navbar-collapse')
        span.navbar-toggler-icon
      a.navbar-brand.ps-3(href='/')
        | Company
    ul.nav.navbar-nav.ms-auto.ms-auto.me-5
      a.nav-item.nav-link(href='/invoice', class=(title == 'Invoice') ? 'active' : undefined)= _x("Invoice", "Nav Menu Invoice")
      a.nav-item.nav-link(href='/organization', class=(title == 'Organization') ? 'active' : undefined)= _x("Organization", "Nav Menu Organization")
      a.nav-item.nav-link(href='/contact', class=(title == 'Contact') ? 'active' : undefined)
        i.fa.fa-bug
      a.nav-item.nav-link(href='/options', class=(title == 'Options') ? 'active' : undefined)
        i.fa.fa-cog
      li.nav-item.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
        a.nav-link.dropdown-toggle(href='#', data-bs-toggle='dropdown')
          span.ms-2= user.profile.name || user.email || user.id
          i.caret
        .dropdown-menu
          a.dropdown-item(href='/account')= _x("My Account", "Nav Menu My Account") 
          a.dropdown-item(href='/logout')= _x("Logout", "Nav Menu Logout") 

    
    //-const plugins = app.get("plugins");
    
