extends ./layout
block content
    h3 Mentions légales

    h6 Mise à jour: 02/12/2021


    p    Les présentes conditions générales d’utilisation ont pour objet l’accès et la consultation du site company.chimpslab.be. Elles constituent un contrat entre l’utilisateur du site et des services proposés.

    p    En accédant, consultant ou s’inscrivant sur les sites ou services proposés sur company.chimpslab.be, l’utilisateur s’engage à accepter les présentes conditions générales.
    
    h4    Article 1 : utilisation du site

    p    L’utilisateur s’interdit de porter atteinte de quelque manière que ce soit à l’ensemble des droits de propriété intellectuelle relatifs au site company.chimpslab.be. Il s’engage notamment à ne pas reproduire, copier, diffuser, distribuer, communiquer, céder, représenter sur tout autre site Web, ainsi que sur tout support ayant une finalité commerciale ou non, les éléments et contenus du site company.chimpslab.be et de ses services.

    p    L’utilisateur s’engage à ne pas perturber, détourner et plus généralement à ne pas agir d’une quelconque façon, qui ne serait pas en conformité avec l’usage ordinaire du site company.chimpslab.be.

    p    S’il fait le choix de recourir aux services du site tels que « Commentaires » et plus généralement lorsqu’il souhaite diffuser un contenu sur le site company.chimpslab.be, l’utilisateur accepte, que ce contenu devienne accessible pour une durée indéterminée. L’utilisateur renonce à toute revendication pécuniaire au titre de ce contenu, de sa création et de sa diffusion.

    p    L’utilisateur reconnaît le caractère public, des espaces de discussions (Forums, Chat, Témoignages etc…) et par conséquent s’interdit d’y diffuser des données personnelles.
    h4    Article 2 : responsabilité

    p    La société ne saurait être tenue pour responsable d’une quelconque indisponibilité, défaillance, modification ou erreur survenue lors de l’utilisation de son site ou de ses services. La société ne saurait garantir la continuité, l’accessibilité et la sécurité absolue du service, compte tenu notamment des risques liés à Internet.

    p    L’utilisateur reconnaît expressément utiliser le site et les services company.chimpslab.be à ses seuls et entiers risques et périls.

    p    L’utilisateur accepte de se soumettre aux dispositions relatives à la force majeure. La force majeure est constituée par tout événement revêtant les caractères d’extériorité, d’irrésistibilité et d’imprévisibilité reconnus par la jurisprudence des cours et des tribunaux qui empêcheraient l’une des parties ou les deux d’exécuter tout ou partie des engagements contenus dans les présentes.

    p    La société se réserve le droit de modifier, supprimer ou neutraliser tout ou partie des services proposés sur le site company.chimpslab.be, à tout moment et sans avoir à en justifier.
    h4    Article 3 : propriété intellectuelle

    p    Le site company.chimpslab.be, ses contenus et services, bases de données, marques et logos sont soumis au droit de la Propriété intellectuelle. Ces différents éléments sont la propriété de la société. L’utilisateur s’engage à respecter ces droits. La société ne confère à l’utilisateur qu’un droit non exclusif et incessible d’utilisation (l’utilisation s’entend d’un usage non commercial, caractérisé par la navigation, la participation et le choix de la souscription aux différents services) de son site et de ses services.

    p    Les produits et jeux présentés sur le site company.chimpslab.be correspondent à des marques déposées ou des marques commerciales appartenant à leurs propriétaires respectifs.
    h4    Article 4 : cookies

    p    Session "Remember Me". 